<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span routerLink="/urls" style="cursor: pointer">URL Shortener</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>description</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
